// color variables
$softBlue: hsl(215, 51%, 70%);
$cryan: hsl(178, 100%, 50%);
$mainBgColor: hsl(217, 54%, 11%);
$cardBgColor: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$anchorTag: hsl(228, 45%, 44%);
//typography
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: white;
  background-color: $mainBgColor;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $cryan;
    }
  }

  .line-break {
    display: none;
  }
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.attribution {
  margin-bottom: 40px;
}
#card {
  width: 40%;
  max-width: 378px;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin: auto;
  background-color: $cardBgColor;
  #image {
    width: 90%;
    height: 250px;
    border: none;
    border-radius: 6px;
  }
}

#info {
  text-align: start;
  margin-top: 8px;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $cryan;
    }
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
}

#timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $line;
  p {
    .icon {
      width: 15px;
      height: 15px;
      margin: 0 4px;
    }
  }
}

#creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    border: solid 2px $white;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $cryan;
    }
  }
}

@media screen and (min-width: 375px) {
  .section {
    height: 100vh;
  }
  #card {
    width: 80%;
  }
  #creator {
    img {
      width: 45px;
      height: 45px;
    }
  }
  .attribution {
    .line-break {
      display: block;
    }
  }
}
@media screen and (max-width: 1440px) {
  #card {
    width: 400px;
    height: auto;
  }
  #info {
    margin-top: 10px;
    font-size: 28px;
    p {
      font-size: 26px;
      font-weight: 200;
    }
  }
  #timer {
    font-size: 26px;
    p {
      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }
  #creator {
    img {
      width: 80px;
      height: 80px;
    }
    span {
      font-size: 26px;
    }
  }
  .attribution {
    font-size: 26px;
    .line-break {
      display: none;
    }
  }
}
